.container{
  max-width: 600px;
  max-height: 750px;
  margin:auto;
}

body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-image: url(images/8cp7wd.gif);
  
  }

  main {
    font-family: 'Roboto', sans-serif;
    padding:10px;
  }

  header{
    background-image: linear-gradient(to bottom, rgba(49, 13, 32, 0.86), #1e2a2cf2),
    url('images/face.JPG');
    background-size: 50%;
    height:325px;
    color:white;
    animation-duration: 1.5s;
    animation-name: slidy;
       
      }
      @keyframes slidy {
        from {
          margin-top: 100%;
          height:325px;
          
        }
      
        to {
          height:325px;
        }
      }
  
     
      
  
  #titles {
    position:absolute;
    top: 1%;
    right:1%;
   padding:80px; 
   font-size: 12px;
  }

  h1{
    font-size: 30px;
  }
  
  nav li ul {
    list-style-type: none;
    padding:8px;
  }
  li {
    list-style-type: none;
    cursor:pointer;
    transition: background-color 1s, 
    color 1s;
  }

  a {
    text-decoration: none;
    color:white;
  }
  
  
  #leftcolumn{
    background-color: #310D20;
    color: white;
    border-radius: 50px;
    width: calc(90% - 10px);
    padding-top:1px;
    padding-bottom:20px;
    margin:25px;
    animation-duration: 1.5s;
    animation-name: slidein;
      }
      @keyframes slidein {
        from {
          margin-left: 80%;
          padding-top:1px;
          padding-bottom:20px;
         
  
        }
      
        to {
     
          padding-top:1px;
          padding-bottom:20px;
         
        }
      }

  
  #middlecolumn{
    background-color: #310D20;
    color: white;
    border-radius: 50px;
    width: calc(90% - 10px);
    padding-top:1px;
    padding-bottom:10px;
    margin:25px;
    animation-duration: 1.5s;
    animation-name: slide;
      }
      @keyframes slide {
        from {
          margin-left: -80%;
          padding-top:1px;
          padding-bottom:10px;
         
  
        }
      
        to {
        
          padding-top:1px;
          padding-bottom:10px;
         
        }
      }
  
  #rightcolumn{
    background-color: #310D20;
    color: white;
    border-radius: 50px;
    width: calc(90% - 10px);
    padding-top:1px;
    padding-bottom:10px;
    margin:25px;
    animation-duration: 1.5s;
    animation-name: slid;
      }
     @keyframes slid {
        from {
          margin-left: 80%;
          padding-top:1px;
          padding-bottom:10px;
         
  
        }
      
        to {
         
          padding-top:1px;
          padding-bottom:10px;
         
        }
      }
  footer {
    background-color:#1e2a2c;
    padding:0.5px;
    padding:25px;
    margin:auto;
    color:white;
  }
  
  
  .dropdown-content {
    display: none;
    list-style-type: none;
  
  }
  

  .dropdown-content a {
    color:white;
    padding-right:40px;
    margin:20px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
#leftcolumn:hover .dropdown-content {
display: block;

}

#middlecolumn:hover .dropdown-content {
  display: block;
  
  }

  #rightcolumn:hover .dropdown-content {
    display: block;
    
    }

  @media only screen and (min-width: 600px) { 
   
      .container{
        max-width: 1200px;
        max-height: 750px;
        margin:auto;
      }
  
      body{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        background-image: url(images/8cp7wd.gif);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 100%;

        }
  
  
      header{
        background-image: linear-gradient(to bottom, rgba(49, 13, 32, 0.86), #1e2a2cf2),
        url('images/face.JPG');
        background-size: 50%;
        color:white;
        display: flex;
        position:absolute;
        left:0%;
        width: 50%;
        height: 750px;
        animation-duration: 2.5s;
        animation-name: slid;
      }
      @keyframes slid {
        from {
          margin-top: 0%;
          width: 120%
          
        }
      
        to {
          margin-bottom: 0%;
          width: 50%;
        }
      }
      
    header:hover {
      background-image: url(images/face2.JPG);
      
    }
      #titles {
        position:absolute;
        top: 15%;
        right:4%;
       padding:150px; 
      }
     
      
      nav ul {
        list-style-type: none;
        padding:8px;
        
      
      }
      
      li {
        border: 0.1rem solid;
        width:155px;
        height:40px;
        margin:8px;
        border-radius: 12px;
        text-decoration: none;
        color:white;
        cursor:pointer;
        transition: background-color 1s, 
        color 1s;
        padding-bottom: 15px;
   
  
      }
      
      .dropdown-content a {

        width:119.4px;
        text-decoration: none;
        color:white;
        transition: background-color 1s, 
        color 1s;
      }
      
      #leftcolumn{
        background-color: #310D20;
        color: white;
        position:absolute;
        top:10%;
        right:31.2%;
        width: 192px;
        height:580px;
        border-radius: 25px;
        animation-duration: 2.5s;
        animation-name: slidein;
      }
     @keyframes slidein {
        from {
          margin-bottom: 0%;
          position:absolute;
          top:100%;
          width: 192px;
          height:490px;
        }
      
        to {
          
          width: 192px;
        }
      }
  
      #middlecolumn{
        background-color: #310D20;
        color: white;
        position:absolute;
        top:23%;
        right:14.87%;
        width: 192px;
        height:440px;
        border-radius: 25px;
        animation-duration: 2.5s;
        animation-name: slide;
      }
  
      @keyframes slide {
        from {
          margin-bottom: 0%;
          position:absolute;
          top:-100%;
          width: 192px;
          height:440px;
        }
      
        to {
         
          width: 192px;
        }
      }
  
      
      #rightcolumn {
        background-color: #310D20;
        color: white;
        position:absolute;
        top:15%;
        right:-1.5%;
        width: 192px; 
        height:400px;
        border-radius: 25px;
        animation-duration: 2.5s;
        animation-name: slidein;
      }
  
   
      footer {
        text-align: center;
        background-color:#1e2a2c;
        color:white;
        position:absolute;
        bottom:0%;
        left:0%;
        width:95.85%;
        height:10%;
        padding-bottom: 10px;
        padding-top: 5px;
      }
  
  
  
       /* Universal Desktop Set Up */
      @media only screen and (min-width: 1300px) {
        
        header {
          height:800px;
          animation-duration: 1.5s;
          animation-name: slid;
        }
        @keyframes slid {
          from {
            margin-top: 0%;
            width: 120%
            
          }
        
          to {
            margin-bottom: 0%;
            width: 50%;
          }
        }


        #titles {
          position:absolute;
          top: 30%;
          left:5%;
         padding:80px; 
         font-size: 20px;
        }

        h1 {
          font-size:35px;
        }

        nav ul {
          margin:6px;
        }

        
        #leftcolumn {
          width:205px;
          position:absolute;
          right:32%;
           animation-duration: 1.5s;
          animation-name: slidein;
        }
       @keyframes slidein {
          from {
            margin-bottom: 0%;
            position:absolute;
            top:100%;
            width: 205px;
           
          }
        
          to {
            width: 205px;
           
          }
        }

       

        #rightcolumn {
          width:205px;
          position:absolute;
          top:15%;
          right:-1.5%;
          animation-duration: 1.5s;
          animation-name: slide;
        }
    
        @keyframes slide {
          from {
            margin-bottom: 0%;
            position:absolute;
            top:-100%;
            width: 205px;
            height:550px;
          }
        
          to {
           
            width: 205px;
          }
        }
        #middlecolumn {
          width:205px;
          position:absolute;
          right:15.3%;
          animation-duration: 1.5s;
          animation-name: slidein;
        }

        .dropdown-content li{
          cursor:pointer;
          transition: background-color 1s, 
          color 1s;
        }

        .dropdown-content li:hover{
          background-color: #1e2a2c;
        }

        footer {
          width:96.2%;
        }
      }
      
  }