body{
text-align: center;
background:#E8E9EB;
}


nav ul {
  list-style-type: none;
  padding:0.5px;

  
}


a {
  text-decoration: none;
 color:white;
}


@media only screen and (min-width: 600px) { 
 
    .container{
      max-width: 1200px;
      max-height: 750px;
      margin:auto;
    }

    header{
      background-color:#1e2a2c;
      color:white;
      padding:200px;
      position:absolute;
      top:0%;
      right:50%;
      padding-bottom: 25%;     
    }
    section{
padding-left:50%;
    }
    
    #leftcolumn{
      background-color: #310D20;
      color: white;
      position:absolute;
      top:5%;
      right:33.5%;
      width: 190px;
      height:550px;
      border-radius: 25px;
      animation-duration: 3s;
      animation-name: slidein;
    }
   @keyframes slidein {
      from {
        margin-bottom: 0%;
        position:absolute;
        top:100%;
        width: 190px;
        height:550px;
      }
    
      to {
        margin-top: 0%;
        width: 190px;
      }
    }

    #middlecolumn{
      background-color: #310D20;
      color: white;
      position:absolute;
      top:30%;
      right:17%;
      width: 190px;
      height:450px;
      border-radius: 25px;
      animation-duration: 3s;
      animation-name: slide;
    }

    @keyframes slide {
      from {
        margin-bottom: 0%;
        position:absolute;
        top:-100%;
        width: 190px;
        height:550px;
      }
    
      to {
        margin-top: 0%;
        width: 190px;
      }
    }

    
    #rightcolumn {
      background-color: #310D20;
      color: white;
      position:absolute;
      top:10%;
      right:0.5%;
      width: 190px; 
      height:450px;
      border-radius: 25px;
      animation-duration: 3s;
      animation-name: slidein;
    }

 
    footer {
      background-color: #3E4E50;
      color:white;
      position:absolute;
      bottom:0%;
      left:0%;
      width:100%;
    }
    
}
