
#mobilereel {
  display:none;
}
#realContent {
  display: none;
}

#filmreel {
  display: none;
}

@font-face {
  font-family: myFont;
  src: url(fonts/warriot.ttf);
}
h1 {
 
font-family: myFont;
font-size: 40px;
font-weight: 1;
}

section{
  display:none;
}

body {
  background-color: black;
 overflow-y: hidden;
overflow-x: hidden;
}



#defaultP{
 background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  opacity: 0.7;
 margin:auto;
 overflow-y: hidden;
overflow-x: hidden;
}

header {
position: relative;
  padding: 30px;
  background-color:black;
  color:white;
  text-align: center;
}

p {
  padding:1px;
  line-height: 1.5em;
}
#container {
  overflow: hidden;
margin-left:-60px;

}
#container div {
  position: absolute;
  width: 150px;
  height: 150px;
}

#container img {
  display: block;
  position: absolute;
  transition: all 3s ease;
}
#thaibinh {
  top: 200px;
  left: 20px;
}

#haiphong {
  top: 180px;
  right: 20px;
}

#saigon {
  bottom: 30px;
  right:100px;
}

#hue {
  bottom: 150px;
  left: 100px;
}

/* #center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.start {
  width: 450px;
  left: -60px;
    top: 220px;
}

.thaibinh,
.haiphong,
.saigon,
.hue,
.center {
    width: 1500px;
    height: 1800px;
}
.thaibinh {
  top: 150px;
  left: -580px;
}
.haiphong {
  top: 180px;
  left: -650px;
}
.saigon  {
  left: -645px;
  bottom: 0;
}
.hue {
  top: -320px;
  left: -770px;
}

/* Sets up position of middle square */
#overlay {
  position: absolute;
  top:0%;
  left:15%;
  opacity: 0.5;
  animation: MovDown 1.8s linear infinite;
  
}
/* Comes up with size of middle square */
#overlay div{
   width:220px;
   height: 200px;
background-color: white;
   border-radius: 25px;
   margin-bottom:30px;

}
/* Animation rules for middle square */
@keyframes MovDown {
   0%, 100% {
   top: -30%;
   }
   60% {
   top:5%;
   }
   }

/* Sets up position of left squares */
#leftBlocks{
   position:absolute;
   left:3%;
   animation: MoveUpDown 1s linear infinite;
}
/* Comes up with size of left squares  */
#leftBlocks div {
   margin-bottom:75px;
   height:50px;
   width:30px;
   background-color: white;
   border-radius: 10%;
   opacity:0.5;
 

}

/* Sets up position of right squares */
   #rightBlocks{
       position:absolute;
       right:3%;
       animation: MoveUpDown 1s linear infinite;
   }
   
/* Comes up with size of right squares  */   
   #rightBlocks div {
       margin-bottom:75px;
       height:50px;
       width:30px;
       background-color: white;
       border-radius: 10%;
       opacity:0.5;
     
   
   }

/* Animation rules for left and right square */
   @keyframes MoveUpDown {
   0%, 100% {
   top: 0%;
   }
   60% {
   top:-100%;
   }
   }
   
/* Sets up position of number */   
#countdown{
font-family: "Roboto", sans-serif;
font-size: 15rem;   
display: flex;
justify-content: center;
align-items: center;

}
/* Sets up size and font of number */   
#countdown p {
   font-family: "Roboto", sans-serif;
font-size: 15rem;  
padding:165px;
padding-left:160px;
color:white;
font-size: 120px;
font-weight: bolder;


}

/* Sets up position, size and color of circle */ 
#circle{
   position:absolute;
  bottom:45%;
  border: 15px solid white;
  height: 160px;
  border-radius:50%;
  width: 160px;
  }

#blurr{
   position:absolute;
   top:0%;
   left:0%;
   animation: SlideDown 5s linear infinite;
}
#blurr div {
   width: 2000px;
   height: 6000px;
   background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
   opacity: 0.1;

}

@keyframes SlideDown {
   0%, 100% {
   left: -10%;
   }
   60% {
   left:0%;
   }
   }

#blurr2{
   position:absolute;
   top:0%;
   right:0%;
   animation: MoveUp 5s linear infinite;
}
#blurr2 div {
   width: 2000px;
   height: 6000px;
   background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
   opacity: 0.2;

}

@keyframes MoveUp{
   0%, 100% {
  top:-5%
   }
   60% {
   top:0%;
   }
   }

#whiteblurr{
   position:absolute;
   top:0%;
   left:0%;
}
#whiteblurr div {
   width: 1200px;
   height: 6000px;
   background-image:linear-gradient(transparent,rgba(0,0,0,0.5));
   opacity: 0.8;
   

}




@media only screen and (min-width: 320px) {
 .start {
  width: calc(100% + 100px);
 
 }

 #circle{
  position: absolute;
  left: calc(50% - 95px);
 top:37%;
   }
#overlay {
  position: absolute;
  left: calc(50% - 110px);
 

}


}
@media only screen and (min-width: 425px) {
  .start {
    height:80vh;

   }
 
 
  #thaibinh {
    left: 60px;
  }
  
  #haiphong {
    right: 40px;
  }

  #hue {

    left: 120px;
  }
  header {
    height: 30vh;
   }
 
 }

 @media only screen and (min-width: 600px) {
 
  .start {
    height:70vh;
   max-width:500px;
    position: absolute;
    left:calc(50% - 250px);

   }
  #thaibinh {
    left: 400px;
    top:300px;
  }
  
  #haiphong {
    right: 150px;
  }
  #hue {

    left: 400px;
  }

  header {
    height: 20vh;
   }
 
 }
