* {
	box-sizing: border-box;
}

        
@font-face {
    font-family: myFont;
    src: url(fonts/warriot.ttf);
}
body {
   background-color: black;
   margin:auto;
   overflow-x: hidden;
   overflow-y: hidden;
}

#defaultP{
 
   background-color: black;
   overflow-x: hidden;
   overflow-y: scroll;
}


main {
    margin-top:100px;
	padding: 35px;
}

section {
	height: 100vh;
    padding-right:200px;
}

article {
    color:white;
    
}

article p {
    width:25%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;  
    line-height: 1.5em;
}

h1{
width:20vw;
font-family: myFont;
font-size: 70px;
font-weight: 1;
}


figure {
    display: block;
	margin: 0;
	width: 75vw;
	height: 100vh;
	position: fixed;
	top:0;
	right:0;
	overflow: hidden;
}
	


figure img {
	position: absolute;

	transition: all 3s ease;
}

.map1{
	width: 95vh; 
	top:0;
	left: 50%;
	transform:translateX(-50%);
    display: none;
}

.map2 {
    top: -60%;
    left:calc(-100% - 10vw);
    width: 2804px;
    
}

.map3 {
    top: -20%;
    left:calc(-100% - 15vw);
    width: 2804px;
    
}

.map4 {
    top: -390%;
    left:calc(-100% - 20vw);
    width: 2804px;
}

.map5 {
    top: -180%;
    left:calc(-100% - 30vw);
    width: 2804px;
}

.map6 {
    top: -390%;
    left:calc(-100% - 20vw);
    width: 2804px;
}
figcaption img{
	position:absolute;
	right:10%;
	top:20%;
	width: 350px;
	padding: 30px;
	padding-bottom: 50px;
	background-color: white;
    border-radius: 5px;

}

#prison {
    width:450px;
    position: absolute;
    top:55%;
    left:0%;
}

#family{
    width:450px;
    position: absolute;
    top:50%;
    left:50%;
}


.animate {
	animation-duration: 700ms;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.enterup {
	animation-name: enterup;
	animation-delay: .5s;	
}

.enterdown {
	animation-name: enterdown;
	animation-delay: .5s;
}

.exitup {
	animation-name: exitup;
}

.exitdown {
	animation-name: exitdown;
}

@keyframes enterup {
	0%{
		top: -10%;
	}
	100% {
		top: 10%;
	}
}

@keyframes enterdown {
	0%{
		top: -20%;
	}
	100% {
		top: 50%;
	}
}

@keyframes exitup {
	0%{
		top: 50%;
	}
	100% {
		top: -20%;
	}
}

@keyframes exitdown {
	0%{
		top: 50%;
	}
	100% {
		top: 105%;
	}
}




#blurr{
    position:absolute;
    top:0%;
    left:0%;
    animation: SlideDown 5s linear infinite;
}
#blurr div {
    width: 2000px;
    height: 6000px;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    opacity: 0.1;

}

@keyframes SlideDown {
    0%, 100% {
    left: -10%;
    }
    60% {
    left:0%;
    }
    }

#blurr2{
    position:absolute;
    top:0%;
    right:0%;
    animation: MoveUp 5s linear infinite;
}
#blurr2 div {
    width: 2000px;
    height: 6000px;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    opacity: 0.2;

}

@keyframes MoveUp{
    0%, 100% {
   top:-5%
    }
    60% {
    top:0%;
    }
    }

#whiteblurr{
    position:absolute;
    top:0%;
    left:0%;
}
#whiteblurr div {
    width: 1200px;
    height: 6000px;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5));
    opacity: 0.8;
  }
        