body{
  background-color: #0D1321;
  text-align: center;
margin-left: 260px;
margin-right:260px;
}
header{
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
section {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:lighter;
  background-color: #D1D1D1;
  border-radius: 50px;
}

article{
  padding:10px;
  line-height: 1.8rem;
}

#one{
  width:400px;
  height:300px;
  border-radius: 10px;
}
#two{
  width:420px;
  height:250px;
  border-radius: 10px;
}