.container {
  max-width: 1200px;
  max-width: 750px;
}

body {
  font-family: "Kanit", sans-serif;
  padding: 20%;
  
}

header {
  background-color:#1e2a2c;
  position:fixed;
  top:0%;
  left:0%;
  width: 99.95%;
  height:80%;
  color:white;
}


h1{
position: relative;
left:36.8%;
 padding:20px;
}

a  {
  color: #0B4F6C;
}
img {
  width:100%;
  height:100%;
  position:absolute;
  top:15%;
}


h2 {
  font-size: 35px;
  width:40%;
  
}

#FormDes {
  background-color: #F9CA0F;
  color:#110B11;
  width:93.6%;
  height:80%;
  position:absolute;
  left:-2%;
  top:81%;
  padding-left:100px;
  font-size: 14px;
}

.Form {
  position: relative;
  top:1%;
 
}

#FormDes p {
  width:44%;
  line-height: 1.7rem;
  
  
}
footer {
  text-align: center;
  position:absolute;
  width: 101%;
 bottom: -70%;
  left:-1%;
  padding-bottom: 5px;;
  background-color:#1e2a2c;
  color:white;
}
footer p {
  text-align: center;
}

footer a{
  color:white;
}

@media only screen and (min-width: 1300px) {
h1 {
  position:relative;
  left:38%;
}

 #FormDes {
  padding:20px;
  padding-left:90px;
 }
 

}





