body{
  background-color: black;
  margin:auto;
  overflow: hidden;
}

#page{
  position: absolute;
  top:5%;
  left: -3.5%;
  width:345px;
  height:630px;
}

#phone {
  padding-top:50px;
  width: 310px;
  height: 650px;
  overflow: hidden;
}
#skull {
  display: none;
  transform: rotateY(180deg);
  position: absolute;
  top:20%;
  left:30%;
}

#start {
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
  position:absolute;
  top:500%;
  left:14%;
  padding:15px;
  width:150px;  
  border-radius: 5px;
  
}

#rules {
  position: absolute;
  top:25%;
  left:20%;
 font-size: 10px;
 height:50px;
 width:200px;
 /* display: none; */
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  position:absolute;
  top:20%;
  left:25%;
  display: none;
}

#profile{
  display: flex;
  margin:auto;
  text-align: center;

}


#player1{
  margin-right:20px;
  margin-left:-30px;
  display: block;
width:100px;

}

#altplayer1{
  margin-right:20px;
  margin-left:-30px;
  display: block;
width:100px;
height:130px;
background-color: white;

}

#first img{
  width:50px;
}

#player2 {
  display: block;
  width:100px;

}

#altplayer2{
  display: block;
width:100px;
height:130px;
background-color: white;

}
#second img{
  width:50px;
}
#initialPick p {
padding-left:10px;
}

#trueStart {
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: absolute;
left:25%;
top:100%; 
padding:10px;
border-radius: 5px;
}

#roll { 
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: absolute;
top:100%;
padding:20px;
border-radius: 5px;
}

#firstQ{
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  right:15%;
  top:100%; 
  padding:20px;
  border-radius: 5px;
}



#dices img{
  padding-left:20px;
  width:50px;
  height:50px;
}
#data {
  padding-top:50px;
  width:200px;

}

#result  {
  width:200px;
  padding-top:30px;
  font-size: smaller;
}

#rollagain{
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left:-15%;
  padding:10px;
  border-radius: 5px;
}
#pass {
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left:30%;
  padding:10px;
  border-radius: 5px;
}
#quit {
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  right:15%;
  padding:10px;
  border-radius: 5px;
}

#playagain {
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  right:34%;
  padding:10px;
  border-radius: 5px;
}

footer{
  background-color: burlywood;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top:82%;
  left:39%;
  padding:10px;
  border-radius: 5px;
}